#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
data_path = '/Users/olesialev/Downloads/data:/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [5]:
df.groupby('Branch')['gross income'].sum().sort_values(ascending=False).head(1)

Branch
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [7]:
df.groupby('City')['gross income'].sum().sort_values(ascending=False).head(1)

City
Naypyitaw    5265.1765
Name: gross income, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [15]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')

In [16]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [23]:
invoices_by_category['Electronic accessories'].sort_values(ascending=False).head(1)

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1.–ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—Ä–æ —Ç–∏–ø –∫–ª—ñ—î–Ω—Ç–∞

–ß–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —ñ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –º—ñ–∂ —Ç–∏–ø–∞–º–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ (Customer type: Member vs Normal)?

In [30]:
type_of_client = pd.pivot_table(df, index='Customer type', values=['gross income', 'Total', 'Quantity'], aggfunc={'Total': 'mean', 'Quantity': 'sum', 'gross income': 'mean'})

In [31]:
type_of_client

               Quantity       Total  gross income
Customer type
Member             2785  327.791305     15.609110
Normal             2725  318.122856     15.148707

–ü—Ä–æ–≥—Ä–∞–º–∞ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –ø–æ–∑–∏—Ç–∏–≤–Ω–æ –≤–ø–ª–∏–≤–∞—î –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —Ç–∞ –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤, —Ç–æ–º—É —ó—ó —Ä–æ–∑–≤–∏—Ç–æ–∫ –º–æ–∂–µ –Ω–∞–ø—Ä—è–º—É –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –º–µ—Ä–µ–∂—ñ —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—ñ–≤. –û—Ç–∂–µ, –ø–æ—Ç—Ä—ñ–±–Ω–æ —ñ–Ω–≤–µ—Å—Ç—É–≤–∞—Ç–∏ –≤ —Ä–æ–∑–≤–∏—Ç–æ–∫ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, –æ—Å–∫—ñ–ª—å–∫–∏ Members –ø—Ä–∏–Ω–æ—Å—è—Ç—å –±—ñ–ª—å—à–µ –¥–æ—Ö–æ–¥—É.

2.–ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—Ä–æ —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏

–ß–∏ –≤–ø–ª–∏–≤–∞—î —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ (Payment) –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —Ç–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫—É–ø–ª–µ–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤?

In [34]:
payment_result = df.groupby('Payment').agg({'Total': 'mean', 'Quantity': 'sum'})

In [35]:
payment_result

                  Total  Quantity
Payment
Cash         326.181890      1896
Credit card  324.009878      1722
Ewallet      318.820600      1892

–°–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –≤–ø–ª–∏–≤–∞—î –Ω–∞ –ø–æ–≤–µ–¥—ñ–Ω–∫—É –ø–æ–∫—É–ø—Ü—ñ–≤, —Ç–æ–º—É –ø—Ä–∞–≤–∏–ª—å–Ω–æ –Ω–∞–ª–∞—à—Ç–æ–≤–∞–Ω—ñ —Å—Ç–∏–º—É–ª–∏ –¥–ª—è –ø–µ–≤–Ω–∏—Ö –ø–ª–∞—Ç—ñ–∂–Ω–∏—Ö –º–µ—Ç–æ–¥—ñ–≤ –º–æ–∂—É—Ç—å –ø—ñ–¥–≤–∏—â–∏—Ç–∏ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —ñ –∑–∞–≥–∞–ª—å–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫. –ü–æ—Ç—Ä—ñ–±–Ω–æ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –ø—Ä–∏—á–∏–Ω–∏ –Ω–∏–∂—á–æ—ó –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—ñ Credit card (–º–æ–∂–ª–∏–≤–æ, –∫–æ–º—ñ—Å—ñ—ó, –ø–æ–≤—ñ–ª—å–Ω—ñ—à–µ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è, –º–µ–Ω—à–µ –∞–∫—Ü—ñ–π).

3.–ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—Ä–æ –≥–µ–Ω–¥–µ—Ä —Ç–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤

–ß–∏ —ñ—Å–Ω—É—î –∑–≤‚Äô—è–∑–æ–∫ –º—ñ–∂ —Å—Ç–∞—Ç—Ç—é –ø–æ–∫—É–ø—Ü—è (Gender) —Ç–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ (Product line), —è–∫—ñ –∫—É–ø—É—é—Ç—å –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ?

In [42]:
gender_result = pd.pivot_table(df, index = 'Gender', columns = 'Product line', values = 'Invoice ID', aggfunc = 'count')

In [43]:
gender_result

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,84,96,90,64,79,88
Male,86,82,84,88,81,78

–û—Ç–∂–µ, –±–∞—á–∏–º–æ, —â–æ –∂—ñ–Ω–∫–∏ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å: Fashion accessories, Food and beverages, Sports and travel.
–ß–æ–ª–æ–≤—ñ–∫–∏ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å: Health and beauty, —Ç—Ä–æ—Ö–∏ –±—ñ–ª—å—à–µ Electronic accessories —Ç–∞ Home and lifestyle. 
–ú–æ–∂–Ω–∞ –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—ñ –ø—Ä–æ–º–æ–∞–∫—Ü—ñ—ó - –¥–æ –ø—Ä–∏–∫–ª–∞–¥—É, Fashion accessories - —Ç–∞—Ä–≥–µ—Ç—É–≤–∞—Ç–∏ –Ω–∞ –∂—ñ–Ω–æ—á—É –∞—É–¥–∏—Ç–æ—Ä—ñ—é, –∞ —É —Å–≤–æ—é —á–µ—Ä–≥—É, Health and beauty - —ñ–º–ø–ª–µ–º–µ–Ω—Ç—É–≤–∞—Ç–∏ –∞–∫—Ü—ñ—ó –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤.